<section class="summary-layout">


  <div class="summary-layout__profile">
    <div class="summary-greeting__text">¡Hola {{ profile.name }}!</div>
    <button class="summary-header__edit" (click)="navigateToProfile()">Editar perfil</button>
    <div class="summary-profile__card">
      <div class="summary-profile__image">
        <img [src]="profile.photo || 'assets/avatar-placeholder.png'" alt="Foto de perfil" />
      </div>
      <div class="summary-profile__info">
        <p class="summary-profile__meta"><b>Edad:</b> {{ getAge(profile.birthDate) }} años</p>
        <p class="summary-profile__meta" *ngIf="profile.hobby"><b>Pasatiempo:</b> {{ profile.hobby }}</p>
        <p class="summary-profile__meta" *ngIf="profile.dui"><b>DUI:</b> {{ profile.dui }}</p>
      </div>
    </div>
  </div>

  <div class="summary-layout__team">
    <div class="summary-header__section">
      <h2 class="summary-header__title">Mis Pokémon</h2>
      <button class="summary-header__edit" (click)="navigateToTeam()">Editar</button>
    </div>
    <div class="summary-team__grid">
      <div class="summary-card" *ngFor="let p of team">
        <div class="summary-card__img-group">
          <img [src]="p.sprites.other.home.front_default" [alt]="p.name" class="summary-card__img" />
          <h3 class="summary-card__title">{{ p.name }}</h3>
        </div>
        <div class="summary-card__stats">
          <div class="summary-stat" *ngFor="let stat of p.stats">
            <div class="summary-stat__label">{{ translateStat(stat.stat.name) }}: {{ stat.base_stat }}</div>
            <div class="summary-stat__bar">
              <div class="summary-stat__fill" [style.width.%]="stat.base_stat * 0.5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>